@tailwind base;
@tailwind components;
@tailwind utilities;



.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


body{
  font-family: "Funnel Display", sans-serif;
}


@keyframes pulse {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.2); /* Enlarged size at the midpoint */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite; /* Apply pulsing animation */
}



select {
  -webkit-appearance: none;
  -moz-appearance: none;   
  appearance: none;        
}


